absl-py==0.10.0
aim==2.1.6
aimrecords==0.0.7
alabaster==0.7.12
albumentations==0.5.0
alembic==1.5.5
antlr4-python3-runtime==4.8
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.0.3
astor==0.8.1
astroid==2.5.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.5
babel==2.9.0
backcall==0.2.0
bandit==1.7.0
base58==2.0.1
binaryornot==0.4.4
black==19.10b0
bleach==3.2.1
bravado-core==5.17.0
bravado==11.0.1
cachetools==4.1.1
catalyst-codestyle==21.3rc2
catalyst-sphinx-theme==1.1.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cliff==3.7.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==1.5.0
colorama==0.4.4
colorlog==4.7.2
comet-ml==3.2.9
configobj==5.0.6
configparser==5.0.1
cookiecutter==1.7.2
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
darglint==1.5.5
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.1
diff-match-patch==20200713
docformatter==1.4
docker-pycreds==0.4.0
docker==4.4.4
docopt==0.6.2
docutils==0.16
dulwich==0.20.15
efficientnet-pytorch==0.6.3
einops==0.3.0
entrypoints==0.3
eradicate==2.0.0
everett==1.0.3
fastprogress==1.0.0
filelock==3.0.12
flake8-bandit==2.1.2
flake8-black==0.2.1
flake8-blind-except==0.1.1
flake8-broken-line==0.3.0
flake8-bugbear==20.11.1
flake8-class-attributes-order==0.1.1
flake8-commas==2.0.0
flake8-comprehensions==3.3.1
flake8-debugger==4.0.0
flake8-docstrings==1.5.0
flake8-eradicate==1.0.0
flake8-polyfill==1.0.2
flake8-quotes==3.2.0
flake8-rst-docstrings==0.0.14
flake8-string-format==0.3.0
flake8==3.8.4
future==0.18.2
gitdb==4.0.5
gitpython==3.1.11
google-auth-oauthlib==0.4.1
google-auth==1.22.1
grpcio==1.33.1
hydra-core==1.0.6
idna==2.10
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==3.10.0
importlib-resources==5.1.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.18.1
ipywidgets==7.6.3
isort==5.6.4
iterative-stratification==0.1.6
jedi==0.17.2
jeepney==0.6.0
jinja2-time==0.2.0
jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonpatch==1.28
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.3.0
jupyter-core==4.6.3
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
karma-sphinx-theme==0.0.8
keyring==23.0.1
kiwisolver==1.2.0
kornia==0.4.1
lazy-object-proxy==1.6.0
lesscpy==0.14.0
livereload==2.6.3
lunr==0.5.8
mako==1.1.4
markdown==3.3.2
markupsafe==1.1.1
marshmallow-polyfield==5.10
marshmallow==3.10.0
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mkdocs-bootswatch==1.1
mkdocs-macros-plugin==0.5.0
mkdocs-macros-test==0.1.0
mkdocs-material-extensions==1.0.1
mkdocs-material==7.0.1
mkdocs==1.1.2
mkdocstrings==0.14.0
mock==3.0.5
monotonic==1.5
more-itertools==8.7.0
msgpack==1.0.0
munch==2.5.0
mypy-extensions==0.4.3
nb-black==1.0.7
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
neptune-client==0.4.124
nest-asyncio==1.4.1
netifaces==0.10.9
networkx==2.5
nitpick==0.22.2
nltk==3.5
notebook==6.1.4
numpy==1.19.2
numpydoc==1.1.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
omegaconf==2.0.6
opencv-python-headless==4.4.0.44
opencv-python==4.4.0.44
optuna==2.5.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.0
pathspec==0.8.1
pathtools==0.1.2
pbr==5.5.1
pep8-naming==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.0.2
pipreqs==0.4.10
pkg-resources==0.0.0
plotly==4.14.3
pluggy==0.13.1
ply==3.11
poyo==0.5.0
pretrainedmodels==0.7.4
prettytable==2.0.0
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.8.0
ptyprocess==0.6.0
py3nvml==0.2.6
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
pygments==2.7.2
pyjwt==1.7.1
pylama==7.7.1
pylint==2.7.4
pyls-black==0.4.6
pyls-spyder==0.3.2
pymdown-extensions==8.1.1
pyparsing==2.4.7
pyperclip==1.8.2
pyqt5-sip==12.8.1
pyqt5==5.12.3
pyqtwebengine==5.12.1
pyrser==0.2.0
pyrsistent==0.17.3
pytest-cov==2.11.1
pytest==5.3.1
python-dateutil==2.8.1
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==4.0.1
pytkdocs==0.10.1
pytz==2020.1
pywavelets==1.1.1
pyxdg==0.27
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==3.0.2
qstylizer==0.1.10
qtawesome==1.0.2
qtconsole==5.0.3
qtpy==1.9.0
regex==2020.11.13
requests-oauthlib==1.3.0
requests==2.24.0
restructuredtext-lint==1.3.2
retrying==1.3.3
rfc3987==1.3.8
rope==0.18.0
rsa==4.6
ruamel.yaml.clib==0.2.2
ruamel.yaml==0.16.12
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.3
secretstorage==3.3.1
segmentation-models-pytorch==0.1.3
send2trash==1.5.0
sentry-sdk==0.19.5
setuptools==44.0.0
shapely==1.7.1
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
snowballstemmer==2.1.0
sortedcontainers==2.3.0
sphinx-rtd-theme==0.5.1
sphinx==2.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==2.0.1
sqlalchemy==1.3.23
stevedore==3.3.0
strict-rfc3339==0.7
subprocess32==3.5.4
swagger-spec-validator==2.7.3
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.1
tensorboardx==2.1
termcolor==1.1.0
terminado==0.9.1
testfixtures==6.17.1
testpath==0.4.4
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.1.0
three-merge==0.1.1
tifffile==2020.10.1
timm==0.3.2
tinycss==0.4
tokenizers==0.10.1
toml==0.10.0
torch==1.8.0
torchaudio==0.8.0
torchfile==0.1.0
torchflare==0.0.1
torchvision==0.9.0
tornado==6.0.4
tqdm==4.56.1
traitlets==5.0.5
transformers==4.4.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==4.0.2
untokenize==0.1.1
urllib3==1.25.11
visdom==0.1.8.9
vulture==2.3
wandb==0.10.17
watchdog==1.0.2
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
wemake-python-styleguide==0.15.2
werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.1
xmltodict==0.12.0
yapf==0.31.0
yarg==0.1.9
zipp==3.4.1
